---
import type { CollectionEntry } from "astro:content";

type Props = {
  entry: CollectionEntry<"posts"> | CollectionEntry<"projects">;
  lang?: "en" | "id";
};

const { entry, lang = "en" } = Astro.props;
const displayText =
  entry.collection === "posts"
    ? (entry as CollectionEntry<"posts">).data.subtitle
    : entry.data.description;
const baseUrl = lang === "id" ? "/id" : "";
// Clean the slug to remove /indexid suffix that comes from index.id.md files
const cleanSlug = entry.slug.replace(/\/indexid$/, "");
const entryUrl = `${baseUrl}/${entry.collection}/${cleanSlug}`;
---

<a
  href={entryUrl}
  class='relative group flex flex-nowrap py-3 px-4 pr-10 rounded-lg border border-white/20 hover:bg-white/5 hover:text-white transition-colors duration-300 ease-in-out'
>
  <div class='flex flex-col flex-1 truncate sm:whitespace-normal'>
    <div class='font-semibold'>
      {entry.data.title}
    </div>
    <div class='text-sm truncate sm:whitespace-normal'>
      {displayText}
    </div>
  </div>
  <img
    src='/icons/top-right.svg'
    alt='Arrow'
    class='absolute top-1/2 right-2 -translate-y-1/2 size-5 group-hover:translate-x-1 transition-transform duration-300 ease-in-out'
  />
</a>
