---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";

const currentPath = Astro.url.pathname;

const navItems = [
  { href: "/blog", label: "blog" },
  { href: "/work", label: "work" },
  { href: "/projects", label: "projects" },
];
---

<header>
  <Container>
    <div class='flex flex-wrap gap-y-2 justify-between'>
      <Link href='/' underline={false}>
        <div class='font-semibold'>
          {SITE.NAME}
        </div>
      </Link>
      <nav class='flex gap-3'>
        {
          navItems.map(({ href, label }) => {
            const isActive = currentPath.startsWith(href);
            return (
              <Link href={href} underline={false}>
                <button
                  class={`relative group w-fit flex px-3 py-1.5 flex-nowrap rounded border transition-colors duration-300 ease-in-out ${
                    isActive
                      ? "border-black/40 dark:border-white/40 bg-black/10 dark:bg-white/10 text-black dark:text-white"
                      : "border-black/15 dark:border-white/20 hover:bg-black/5 dark:hover:bg-white/5 hover:text-black dark:hover:text-white"
                  }`}
                >
                  {label}
                </button>
              </Link>
            );
          })
        }
      </nav>
    </div>
  </Container>
</header>
