---
import { SITE } from "@constants";
import { getLangFromUrl } from "@i18n/utils";

import "../styles/global.css";
import CodeCopyButton from "@components/CodeCopyButton.astro";
import Footer from "@components/Footer.astro";
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";

import { cn } from "@lib/utils";

type Props = {
  title: string;
  description: string;
  image?: string;
  ogType?: "website" | "article";
  articlePublishedTime?: Date | string;
  articleModifiedTime?: Date | string;
  articleAuthor?: string;
  articleTags?: string[];
  showHeader?: boolean;
  noindex?: boolean;
  disableHreflang?: boolean;
};

const {
  title,
  description,
  image,
  ogType = "website",
  articlePublishedTime,
  articleModifiedTime,
  articleAuthor,
  articleTags,
  showHeader = true,
  noindex = false,
  disableHreflang = false,
} = Astro.props;
const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
  <head>
    <Head
      title={title || SITE.NAME}
      description={description}
      image={image}
      ogType={ogType}
      articlePublishedTime={articlePublishedTime}
      articleModifiedTime={articleModifiedTime}
      articleAuthor={articleAuthor}
      articleTags={articleTags}
      noindex={noindex}
      disableHreflang={disableHreflang}
    />
  </head>
  <body>
    <a
      href='#main-content'
      class='absolute left-0 top-0 -translate-y-full bg-neutral-900 px-4 py-2 text-neutral-100 transition-transform focus:translate-y-0 z-[100]'
    >
      Skip to content
    </a>
    {showHeader && <Header />}
    <main id='main-content' class={cn(showHeader ? "" : "py-0")}>
      <slot />
    </main>
    <Footer />
    <CodeCopyButton />
  </body>
</html>
